<a class="nav__button button" href="/attending"><img src="img/manage.svg" width="24" height="24"
                                                     class="attending__button__img" alt="M" title="View Attendance"></a>
<header class="header">
    <img class="header__logo" width="120" src="img/logo-text.svg" alt="Questionable Research Labs Logo"
         aria-label="Questionable Research Labs Logo" title="Questionable Research Labs">
</header>
<main class="main">
    <div class="member-types" id="types">
        <p class="header__message">Welcome to the Activity,<br/> Please Sign In
            using the form below</p>
    </div>
    <div class="sign-pages " id="pages">
        <div class="sign-pages__page" page-id="member">
            <p class="sign-pages__page__message">Welcome, please enter your name and select it from the list</p>
            <label class="input__label">Name
                <input type="text" class="input" placeholder="" id="memberName" minlength="1" tabindex="3" autocomplete="off">
            </label>
            <button id="memberSubmit" class="button" disabled>Done</button>
            <div class="members__list" id="membersList" tabindex="4">

            </div>
        </div>
    </div>
</main>
